{% extends "dashboard/page.html" %}

{% block dashboard_content %}
<div id="pivot"></div>
{% endblock %}

{% block scripts %}
<script crossorigin="">
    var pivot = new Flexmonster({
        container: "#pivot",
        componentFolder: "https://cdn.flexmonster.com/",
        toolbar: true,
        licenseKey: "Z7IR-XC325H-4W4F19-284J3W",
        report: {
            "dataSource": {
                "type": "api",
                "url": "http://localhost:9204/mongo",
                "index": "stats"
            },
            "slice": {
                "rows": [
                    {
                        uniqueName: "user",
                        filter: {
                            query: {
                                "equal": "{{ user.username }}"
                            }
                        }
                    },
                    {
                        uniqueName: "course"
                    },
                    {
                        uniqueName: "week"
                    }
                ],
                "measures": [
                    {
                        uniqueName: "act_perc",
                        caption: "Activities Percentage",
                        formula: "'activities_completed' / 'activities_total'",
                        format: "work_done"
                    },
                    {
                        uniqueName: "ref_perc",
                        caption: "Reflections Percentage",
                        formula: "'reflections_completed' / 'reflections_total'",
                        format: "work_done"
                    },
                    {
                        uniqueName: "sprints_completed",
                        caption: "Sprints Percentage",
                        formula: "'sprints_completed' / 'sprints_total'",
                        format: "work_done"
                    }
                ],
                "reportFilters": [
                    {
                        uniqueName: "course"
                    },
                    {
                        uniqueName: "week"
                    }
                ]
            },
            "formats": [
                {
                    name: "work_done",
                    isPercent: true
                }
            ],
            "conditions": [
                {
                    formula: "#value < .8",
                    format: {
                        backgroundColor: "#fa5"
                    }
                },
                {
                    formula: "#value >= .8",
                    format: {
                        backgroundColor: "#5f5"
                    }
                }
            ]
        }
    });
</script>
{% endblock %}