{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Title</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/jam-icons/css/jam.min.css">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/styles/commons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/styles/header.css' %}" />
</head>
<body>
    <header id="page-header">
        {% include "dashboard/header.html" %}
    </header>
    <main id="page-content">
        {% block dashboard_content %}{% endblock %}
    </main>
    <footer id="page-footer">
        {% include "dashboard/footer.html" %}
    </footer>

    <!-- Webpage Scripts -->
    <script src="https://cdn.flexmonster.com/flexmonster.js" crossorigin></script>
    {% block scripts %}{% endblock %}
</body>
</html>